.gradle/
build/
local.properties
.idea/
*.iml
.DS_Store
.env
__pycache__/
tools/*.tmp
.kotlin/
.upstream/
.cxx/
*.log
*.jks
*.keystore
upload-keystore.properties
play-service-account.json
.venv/
.system-tests/
tools/system_tests_shims/build/
tools/system_tests_shims/*.egg-info/
tests/config.toml
tests/files/
tests/logs/
tests/cache/
tests/ltc.wav
tests/*.moblinSettings
tests/suites/websites/*.jpg
tests/suites/websites/*.mp4
